:host {
  display: grid;
  padding: 10px;

  grid-gap: 10px;

  grid:
    " picture title  "
    " picture author "
    / 75px
  ;
}

img {
  grid-area: picture;
  width: 100%;
}

.title {
  grid-area: title;
}

.author {
  grid-area: author;
}
