body {
  font-family: Helvetica, Arial, sans-serif;
}

.highlighted {
  outline: 3px solid gold;
  background-color: yellow;
}

app-video-thumbnail {
  cursor: pointer;
  display: block;
}

app-root,
app-video-dashboard,
app-video-list,
app-video-player,
app-stat-filters {
  display: block;
  border: 3px solid green;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

app-video-dashboard {
  display: grid;

  grid:
    " header  header  header "
    " list    player  stat-filters "
    / 3fr     4fr     2fr
  ;

  h1 { grid-area: header; }

  app-video-list   { grid-area: list; }
  app-video-player { grid-area: player; }
  app-stat-filters { grid-area: stat-filters; }
}
