<h3>Video Player</h3>

<ng-container *ngIf="(svc.currentVideo$ | async) as video; else message">

  <img [src]=" 'http://img.youtube.com/vi/' + video.id + '/0.jpg' ">
  <p>{{ video.title }}</p>
  <p>{{ video.author }}</p>

</ng-container>

<ng-template #message>
  Please select a video from the list.
</ng-template>
